<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="Robotics.Mobile.BtLEExplorer.Droid">
	<uses-sdk />
	<application android:label="Robotics.Mobile.BtLEExplorer.Droid" android:icon="@drawable/icon">
	</application>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
</manifest>