<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" package="com.your-company.PumpkinSweeper" android:versionName="1">
	<uses-sdk android:minSdkVersion="15" />
	<application android:icon="@drawable/ic_launcher" android:label="PumpkinSweeper"></application>
</manifest>